<h1>Gilbert K. Chesterton, The Great</h1>
<p>
  All conservatism is based upon the idea that if you leave
  things alone you leave them as they are. But you do not.
  If you leave a thing alone you leave it to a torrent of change.
</p>

<p>
  Compromise used to mean that half a loaf was better than no bread.
  Among modern statesmen it really seems to mean that half a loaf;
  is better than a whole loaf.
</p>

<p>
  Democracy means government by the uneducated,
  while aristocracy means government by the badly educated.
</p>
<p>
  Journalism largely consists of saying "Lord Jones is Dead"
  to people who never knew that Lord Jones was alive.
</p>